* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", "Plus Jakarta Sans", sans-serif;
    font-size: 10pt;
    color: #1e293b;
}

code {
    font-family: "Menlo", "Courier New", Courier, monospace;
    font-size: 8pt;
    background-color: none;
    color: #1e293b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
}
